﻿@model MvcPractice.Models.Users
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>創建帳號</title>

    @Styles.Render("~/Content/css")

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body class="text-center">
    @using (Html.BeginForm("Create", "Login"))
    {
        <table width="100%" cellpadding="0" cellspacing="0" class="log_box">
            <tr class="box_style">
                <th width="300" class="bg_account">
                    <label>輸入名字</label>
                </th>
                <td width="100">
                    @Html.TextBoxFor(m => m.Name, new { size = "20" })
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>
            <tr class="box_style">
                <th width="300" class="bg_account">
                    <label>輸入帳號(Email)</label>
                </th>
                <td width="100">
                    @Html.TextBoxFor(m => m.Email, new { size = "20" })
                    @Html.ValidationMessageFor(m => m.Email)
                </td>
            </tr>
            <tr class="box_style">
                <th width="300" class="bg_password">
                    <label>輸入密碼</label>
                </th>
                <td width="100">
                    @Html.TextBoxFor(m => m.Password, new { size = "20", type = "password" })
                </td>
            </tr>
        </table>

        <button id="create" type="submit">創建</button>
    }
    <button id="cancel" type="submit">取消</button>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#cancel').on('click', function () {
            var url = '@Url.Action("Index", "Login", new { })';
            window.location.href = url;
        });
    });
</script>


