﻿@model MvcPractice.Models.FormBeans.LoginBean
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登入</title>

    @Styles.Render("~/Content/css")

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body class="text-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <table width="100" cellpadding="0" cellspacing="0" class="log_box">
        <tr class="box_style">
            <th width="5" class="bg_account">
                @Html.LabelFor(m => m.Email)
            </th>
            <td width="100">
                @Html.TextBoxFor(m => m.Email, new { size = "12" })
            </td>
        </tr>
        <tr class="box_style">
            <th width="85" class="bg_password">
                @Html.LabelFor(m => m.Password)
            </th>
            <td width="250">
                @Html.TextBoxFor(m => m.Password, new { size = "12", type = "password" })
            </td>
        </tr>
        <tr class="box_style ">
            <th width="85" class="authenticate_text">
                @Html.LabelFor(m => m.ValidateCode)
            </th>
            <td width="250" class="">                
                <img id="vaildgraph" src="@Url.Action("CreateVaildationGraph", new { id = new Random().Next(1, 1000) })" alt="驗證碼" />                
            </td>
            <td width="250" class="">
                <input id="reloadVaildationCode" type="button" value="看不懂">
            </td>
        </tr>
        <tr class="box_style">
            <th width="85" class="authenticate_text">
                請輸入驗證碼
            </th>
            <td width="250" class="">
                @Html.TextBoxFor(m => m.ValidateCode, new { size = "10" })                
            </td>
        </tr>
    </table>

        <button id="login" type="submit">登入</button>
    }
    <input id="create" type="button" value="創建帳號">
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#create').on('click', function () {
            var url = '@Url.Action("Create", "Login", new { })';
            window.location.href = url;
        });
        
        $('#reloadVaildationCode').click(function () {
            $.ajax({
                method: "GET",
                url: '@Url.Action("ReloadVaildationCode", "Login")',
                dataType: "text",
                async: true,
                cache: false
            }).done(res => {                
                $('#vaildgraph').attr("src", window.location.origin+"/Login/CreateVaildationGraph/?id=" + Math.random());
            }).fail(err => {
                console.log(err);
            });
        });
    });
</script>
