﻿@model MvcPractice.Models.FormBeans.TodoListBean
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{ 
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h3>HI! @Model.name</h3>
<input id="changeUser" type="button" value="切換使用者">

<div id="form_box">
    <table id="readSchedule" style="width:100%">
        <thead>
            <tr class="header">
                <th class="header" width="30%">待辦事項</th>
                <th class="header" width="30%">更新時間</th>
                <th class="header" width="20%">是否完成</th>
                <th class="header" width="10%"></th>
            </tr>
        </thead>

        @foreach (var thing in @Model.todoThingsPaged)
        {
            <tr>
                <td class="td25">@thing.Content</td>
                <td class="td25">@thing.UpdatedAt.ToString()</td>
                <td class="td25">@thing.Completed.ToString()</td>
                <td class="td25" data-id="@thing.ID">
                    <input class="edit" type="button" value="編輯">
                    <input class="delete" type="button" value="刪除">
                </td>
            </tr>

            <tr id="@thing.ID" style="display:none" data-edit="@thing.ID">
                <td class="td25 edit-text">@Html.TextBox("edit-content")</td>
                <td class="td25 edit-update-time"></td>
                <td class="td25 edit-completed">
                    <label><input name="completed" type="radio" value="true" />完成</label>
                    <label><input name="completed" type="radio" value="false" />未完成</label>
                </td>
                <td class="td25">
                    <input class="edit-confirm" type="button" parentid="@thing.ID" value="確認編輯">
                    <input class="edit-cancel" type="button" parentid="@thing.ID" value="取消編輯">
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model.todoThingsPaged, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
</div>

<p>　</p>
<hr color="#00FF00" size="10">

<div style="display:none" class="enterForm">
    @Html.Label("content", "待辦事項")
    @Html.TextBox("content")
</div>
<div style="display:none" class="enterForm">
    @Html.Label("completed", "是否完成")
    <label><input name="completed" type="radio" value="true" />完成 </label>
    <label><input name="completed" type="radio" value="false" />未完成 </label>
</div>
<div style="display:none">
    @Html.TextBox("userId", @Model.userID)       <!-- 傳入userID給controller，但使用者不需看到-->
</div>

<input style="display:none" id="add" type="button" class="enterForm" value="確認新增">
<input style="display:none" id="cancel" type="button" class="enterForm" value="取消新增">


<input style="display:block" id="create" type="button" value="新增">

<script type="text/javascript">

    function changeDisplay(id, value="none") {
        $("#"  + id).css({ "display": value });
    }

    $(function () {
        $('#changeUser').click(function () {
            var url = '@Url.Action("Logout", "Login")';
            window.location.href = url;
        });

        $('#create').click(function () {
            $('.enterForm').css({ "display": "block" });
            $('#create').css({ "display": "none" });
        });

        $('#cancel').click(function () {
            $('.enterForm').css({ "display": "none" });
            $('#create').css({ "display": "block" });
        });

        $('#add').click(function () {
            $.ajax({
                method: "POST",
                url: '@Url.Action("Create", "Home")',
                dataType: "text",
                async: true,
                data: {
                    content: $('input[name=content]').val(),
                    completed: $('input[name=completed]:checked').val(),
                    userid: $('input[name=userId]').val()
                },
                cache: false,
                success: function (data) {
                    $('#create').css({ "display": "block" });
                    $('.enterForm').css({ "display": "none" });
                }
            }).done(res => {
                location.reload(true);
            }).fail(err => {
                console.log(err);
            });
        });

        $('.delete').click(function () {
            const listId = $(this).parent().data("id");
            $.ajax({
                method: "POST",
                url: '@Url.Action("Delete", "Home")',
                dataType: "text",
                async: true,
                data: {
                    id: listId
                },
                cache: false
            }).done(res => {
                location.reload(true);
            }).fail(err => {
                console.log(err);
            });
        });

        $('.edit').click(function () {
            const listId = $(this).parent().data("id");
            const editContext = $(this).parent().parent().children().first().text();
            $(`tr[data-edit="${listId}"]`).children().first().children().first().val(editContext);
            $(`tr[data-edit="${listId}"]`).css({ "display": "table-row" });
        });

        $('.edit-confirm').click(function () {
            const listId = $(this).parent().data("edit");
            var parentId = $(this).attr("parentid");
            $.ajax({
                method: "POST",
                url: '@Url.Action("Edit", "Home")',
                dataType: "text",
                async: true,
                data: {
                    content: $("#" + parentId + " #edit-content").val(),
                    completed: $("#" + parentId + " input:radio:checked").val() || false,
                    id: parentId
                },
                cache: false,
                success: function (data) {
                    changeDisplay($(this).attr("parentid"));
                }
            }).done(res => {
                location.reload(true);
            }).fail(err => {
                console.log(err);
            });
        });

        $('.edit-cancel').click(function () {
            changeDisplay($(this).attr("parentid"));
        });
    });
</script>

<style>
    tr:nth-child(4n + 1) {
        text-align: center;
        background-color: #AFEEEE;
    }

    tr:nth-child(4n + 3) {
        text-align: center;
        background-color: #F5F5DC;
    }

    tr:nth-child(even) {
        text-align: center;
    }

    tr[class="header"] {
        font-size: 25px;
        text-align: center;
        background-color: #D2B48C;
    }
</style>
